/* common */

.hide-txt {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}

.show-mobile {
    display: none;
}

.wrap-txt {
    display: block;
}

.wrap-img {
    display: block;
}

.img-comm {
    width: 100%;
}

.img-pc {
    width: 100%;
}

.img-mobile {
    display: none;
    width: 100%;
}

.ico-comm {
    display: inline-block;
    overflow: hidden;
    color: transparent;
    vertical-align: top;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
}

.ico-direct {
    @include vw-pc(width, 18);
    @include vw-pc(height, 18);
    background-image: url(../images/icon/ico_direct.svg);
}

.ico-arr-down {
    @include vw-pc(width, 24);
    @include vw-pc(height, 24);
    background-image: url(../images/icon/ico_arr_down.svg);
}

.ico-arr-right {
    @include vw-pc(width, 41);
    @include vw-pc(height, 41);
    background-image: url(../images/icon/ico_arr_right.svg);
}

.ico-arr-left {
    @include vw-pc(width, 41);
    @include vw-pc(height, 41);
    background-image: url(../images/icon/ico_arr_left.svg);
}

.ico-play {
    @include vw-mo(width, 14);
    @include vw-mo(height, 14);
    background-image: url(../images/icon/ico_play.svg);
}

.ico-pause {
    @include vw-mo(width, 14);
    @include vw-mo(height, 14);
    background-image: url(../images/icon/ico_pause.svg);
}


.link-comm {
    display: inline-flex;
    border-bottom: 1px solid #000;
    font-weight: bold;
    @include vw-pc(font-size, 16);
    line-height: 1.5;
    color: #000;
    align-items: center;

    .ico-direct {
        @include vw-pc(margin-left, 5);
    }
}

.link-comm02 {
    display: block;
    padding: 0.55556vw 1.38889vw;
    @include vw-pc(border-radius, 16.5);
    font-weight: bold;
    @include vw-pc(font-size, 15);
    line-height: 1.5;
    letter-spacing: -0.05em;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.swiper-container {
    overflow: hidden;
    position: relative;
}



@media screen and (max-width: 768px) {

    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: block;
    }
    
    .img-pc {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .link-comm {
        font-weight: bold;
        @include vw-mo(font-size, 18);
    }

    .link-comm02 {
        font-weight: normal;
        padding: 2.08333vw 2.77778vw;
        @include vw-mo(border-radius, 26);
        @include vw-mo(font-size, 18);
    }

    .ico-direct {
        @include vw-mo(width, 15);
        @include vw-mo(height, 15);
        background-image: url(../images/icon/ico_direct_m.svg);
    }

    .ico-arr-down {
        @include vw-mo(width, 24);
        @include vw-mo(height, 24);
    }

    .ico-arr-right {
        @include vw-mo(width, 59);
        @include vw-mo(height, 59);
    }
    
    .ico-arr-left {
        @include vw-mo(width, 59);
        @include vw-mo(height, 59);
    }

    .ico-play {
        @include vw-mo(width, 24);
        @include vw-mo(height, 24);
    }

    .ico-pause {
        @include vw-mo(width, 24);
        @include vw-mo(height, 24);
    }
}