@font-face {
    font-family: 'Samsung Sharp Sans';
    font-style: normal;
    font-weight: normal;
    src: url('/sec/static/_font/SamsungSharpSans-regular.TTF') format("truetype"),
        url('/sec/static/_font/SamsungSharpSans-regular.TTF') format("embedded-opentype");
}

@font-face {
    font-family: 'Samsung Sharp Sans';
    font-style: normal;
    font-weight: bold;
    src: url('/sec/static/_font/SamsungSharpSans-Bold.eot');
    src: url('/sec/static/_font/SamsungSharpSans-Bold.eot?#iefix') format("embedded-opentype"),
        url('/sec/static/_font/SamsungSharpSans-Bold.woff2') format("woff2"),
        url('/sec/static/_font/SamsungSharpSans-Bold.woff') format("woff"),
        url('/sec/static/_font/SamsungSharpSans-Bold.ttf') format("truetype");
}