/* 768px 이하 */
@media screen and (max-width: 768px) {

    /* layout */
    #header {
        height: 44px;
    }

    #main {
        padding-top: 44px;
    }

    /* content */

    .section-prm {
        .section-tit {
            @include vw-mo(font-size, 68);
        }
    }

    .section-kv {
        @include vw-mo(height, 1180);
        background: url("../images/bg/bg_kv_mo.gif") no-repeat;
        background-size: cover;

        .section-inner {
            padding: 23.88889vw 0 0;
        }

        .section-tit-area {
            text-align: center;
        }

        .wrap-txt {
            @include vw-mo(margin-top, 40);
            @include vw-mo(font-size, 30);

            .date-txt {
                @include vw-mo(margin-top, 40);
            }
        }
    }

    .section-buy {

        .section-inner {
            padding-top: 18.05556vw;
        }

        .section-tit-area {
            .section-tit {
                @include vw-mo(font-size, 48);
                line-height: 1.25;
                letter-spacing: -0.05em;

                &:before {
                    display: none;
                }

                em {
                    &:before {
                        @include vw-mo(width, 207);
                        @include vw-mo(height, 102);
                    }
                }
            }
        }

        .section-cont-area {
            @include vw-mo(padding-top, 230);
            flex-direction: column-reverse;
            align-items: center;
        }

        .cont-buy {
            width: 100%;
            margin-left: 0;
        }

        .buy-tit-wrap {
            position: absolute;
            @include vw-mo(top, 90);
            right: 0;
            left: 0;
            text-align: center;

            .buy-tit {
                @include vw-mo(font-size, 60);
                line-height: 1.1;

                &:after {
                    top: -35%;
                    right: -13%;
                    @include vw-mo(width, 55);
                    @include vw-mo(height, 59);
                }
            }

            .model-name {
                @include vw-mo(margin-top, 10);
                @include vw-mo(font-size, 26);
            }
        }

        .buy-option-wrap {
            margin: 5.55556vw 9.5833vw 0;

            .option-color {
                flex-wrap: nowrap;

                .color-item {
                    @include vw-mo(width, 130);
                    @include vw-mo(height, 130);
                }
            }

            .option-label {
                @include vw-mo(padding, 10);
                @include vw-mo(border-width, 2);
            }

            .option-img {
                width: 100%;
                height: auto;
            }

            .option-txt {
                position: absolute;
                bottom: -30%;
                margin-left: 0;
                font-weight: normal;
                @include vw-mo(font-size, 30);
                line-height: 0.9;
                letter-spacing: -0.05em;
            }

            .inp-comm {
                &:checked {
                    +.option-label {
                        .option-txt {
                            font-weight: bold;
                        }
                    }
                }
            }

            .option-price {
                @include vw-mo(margin-top, 90);

                .price-item {
                    @include vw-mo(font-size, 28);
                    line-height: 1.2;

                    +.price-item {
                        @include vw-mo(margin-top, 20);
                    }
                }

                .price-txt {
                    em {
                        @include vw-mo(font-size, 32);
                    }
                }


                &:after {
                    @include vw-mo(height, 2);
                    @include vw-mo(margin-top, 30);
                }
            }

            .option-buy-link {
                @include vw-mo(margin-top, 30);

                .buy-link {
                    padding: 3.47222vw 0;
                    @include vw-mo(border-radius, 44);
                    @include vw-mo(font-size, 30);
                    line-height: 1.3;
                    letter-spacing: -.025em;
                }
            }
        }

        .buy-benefit-wrap {
            margin: 6.94444vw 9.5833vw 0;

            .benefit-tit {
                @include vw-mo(font-size, 30);
                line-height: 1.4;

                &:after {
                    @include vw-mo(width, 250);
                    background-color: #000;
                }
            }

            .benefit-list {
                @include vw-mo(margin-top, 30);

                .wrap-img {
                    @include vw-mo(width, 130);
                    @include vw-mo(height, 130);
                }

                .benefit-txt {
                    @include vw-mo(margin-top, 12);
                    padding: 0 5%;
                    @include vw-mo(font-size, 20);
                    line-height: 1.3;
                    text-align: left;
                }

                .benefit-more-link {
                    .ico-arr-down {
                        @include vw-mo(width, 24);
                        @include vw-mo(height, 24);
                    }
                }
            }
        }

        .cont-swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-box {
            @include vw-mo(width, 580);
            @include vw-mo(height, 500);

            &:after {
                @include vw-mo(top, -45);
                @include vw-mo(left, -30);
                @include vw-mo(width, 126);
                @include vw-mo(height, 123);
            }

            &:before {
                @include vw-mo(width, 171);
                @include vw-mo(height, 157);
            }
        }

        .swiper-container {
            @include vw-mo(border-width, 20);
        }

        .swiper-wrapper {
            .wrap-img {
                @include vw-mo(width, 539);
            }
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                &:before {
                    @include vw-mo(width, 18);
                    @include vw-mo(height, 18);
                }

                @include vw-mo(margin-left, 20);
            }
        }

        .swiper-button-wrap {

            button {
                @include vw-mo(width, 60);
                @include vw-mo(height, 60);
            }

            .swiper-button-prev {
                @include vw-mo(left, 20);
            }

            .swiper-button-next {
                @include vw-mo(right, 20);
            }
        }

    }

    .section-benefit {

        .section-inner {
            margin: 0 9.72222vw;
            @include vw-mo(padding-top, 130);
        }

        .section-tit-area {

            .section-tit {
                @include vw-mo(font-size, 32);
                line-height: 2.2;

                em {
                    @include vw-mo(font-size, 68);
                    line-height: 1;
                }

                &:after {
                    top: 15%;
                    @include vw-mo(width, 54);
                    @include vw-mo(height, 73);
                }
            }

            .date-txt {
                @include vw-mo(font-size, 24);
                line-height: 2.9;
            }

            .notice-txt {
                @include vw-mo(font-size, 20);
                color: rgba($color: #000000, $alpha: 0.8);
                letter-spacing: -0.025em;
            }
        }

        .section-cont-area {
            @include vw-mo(padding-top, 70);

            .cont-tit-wrap {
                margin-left: 0;

                .cont-tit {
                    @include vw-mo(font-size, 32);

                    &:after {
                        @include vw-mo(width, 244);
                    }
                }
            }
        }

        .benefit-list {
            justify-content: center;

            li {
                width: 100%;
            }

            .benefit-item {
                padding: 6.94444vw 0 6.94444vw 6.25vw;
                // @include vw-mo(padding-left, 45);
                @include vw-mo(border-width, 10);
                justify-content: start;

                &:before {
                    @include vw-mo(width, 72);
                    @include vw-mo(height, 73);
                }

                &:after {
                    bottom: -20%;
                    @include vw-mo(width, 128);
                    @include vw-mo(height, 80);
                }
            }

            .benefit-item01 {

                .wrap-img {
                    @include vw-mo(width, 191);
                }
            }

            .benefit-item02 {

                .wrap-img {
                    @include vw-mo(width, 207);
                }
            }

            .benefit-item03 {

                .benefit-item-inner {
                    @include vw-mo(padding-bottom, 58);
                }

                .wrap-img {
                    @include vw-mo(width, 225);
                }

                &:before {
                    top: -15%;
                }

                &:after {
                    bottom: -15%;
                }
            }

            .benefit-item04 {

                .benefit-item-inner {
                    @include vw-mo(padding-bottom, 58);
                }

                .wrap-img {
                    @include vw-mo(width, 207);
                }

                .benefit-txt {
                    @include vw-mo(max-width, 156);
                }

                &:before {
                    top: -15%;
                }

                &:after {
                    bottom: -15%;
                }
            }

            .benefit-txt-wrap {
                @include vw-mo(margin-left, 20);

                .benefit-tit {
                    @include vw-mo(font-size, 20);

                    em {
                        @include vw-mo(font-size, 30);

                    }

                    &:after {
                        display: none;
                    }

                    &:before {
                        display: none;
                    }
                }

                .benefit-txt {
                    @include vw-mo(font-size, 18);
                    letter-spacing: -0.05em;
                }
            }

            .benefit-link-wrap {
                position: absolute;
                bottom: 10%;
                left: 0;
                width: 100%;
                justify-content: center;

                a {
                    +a {
                        @include vw-mo(margin-left, 60);
                    }
                }
            }
        }

        .benefit-notice {

            .notice-list {
                text-align: left;

                li {
                    @include vw-mo(font-size, 18);
                    line-height: 1.3;
                    letter-spacing: -0.025em;
                    color: #090909;
                }
            }

            .notice-link {
                @include vw-mo(margin-top, 50);
                border-width: 2px;
                @include vw-mo(font-size, 24);
            }
        }
    }

    .section-pod {

        .section-inner {
            @include vw-mo(padding-top, 130);
            padding-bottom: 0;
        }

        .swiper-container {
            height: auto;
            padding-bottom: 100%;
            box-sizing: border-box;
        }

        .slide-txt-wrap {
            top: auto;
            @include vw-mo(right, 70);
            @include vw-mo(left, 70);
            margin: 8.33333vw 0 0;
            transform: none;

            .slide-tit {
                @include vw-mo(font-size, 48);
            }

            .slide-desc {
                @include vw-mo(font-size, 30);
                line-height: 1.5;
                color: #333;
            }

            .slide-notice-list {
                li {
                    @include vw-mo(padding-left, 15);
                    @include vw-mo(font-size, 22);
                    color: #666;
                }
            }
        }

        .swiper-pagination-wrap {
            @include vw-mo(margin-top, 5);
            align-items: center;
        }

        .swiper-pagination {
            bottom: auto;

            .page-name {
                display: none;
            }
        }

        .swiper-pagination-bullet {
            padding: 10px 0;
        }

        .swiper-button-wrap {
            display: none;
        }
    }


    .section-others {

        .section-inner {
            @include vw-mo(padding-bottom, 130);
        }

        .section-tit {
            @include vw-mo(font-size, 52);
        }

        .swiper-wrapper {
            justify-content: space-between;
        }

        .swiper-slide {
            @include vw-mo(width, 400);
            @include vw-mo(margin-left, 35);

            &:first-child {
                @include vw-mo(padding-left, 70);
            }

            &:last-child {
                @include vw-mo(padding-right, 70);
            }
        }

        .others-link-area {

            .others-tit {
                @include vw-mo(font-size, 30);
            }

            .others-link {
                @include vw-mo(width, 197);
                @include vw-mo(margin-top, 66);
                @include vw-mo(border-radius, 30);
                @include vw-mo(font-size, 22);
            }
        }
    }

    .section-notice {
        .notice-item {
            flex-direction: column;
        }

        .notice-list-wrap {
            @include vw-mo(margin-top, 30);
            padding-left: 0;
        }

        .notice-tit-wrap {
            width: 100%;
        }

        .notice-tit {
            @include vw-mo(font-size, 24);
        }

        .notice-list {
            @include vw-mo(font-size, 24);
            line-height: 1.6;
            word-break: break-all;

            li {
                @include vw-mo(padding-left, 15);

                &:before {
                    top: 2vw;
                    @include vw-mo(width, 6);
                    @include vw-mo(height, 6);
                    border-radius: 0;
                    transform: none;
                }
            }

            .notice-inner-tit {
                &:before {
                    top: 2vw;
                }
            }
        }
    }
}