@charset "utf-8";

@import "_font";
@import "_reset";
@import "_mixin";
@import "_px-conversion";
@import "_vw-conversion";

/* common */
.visually-hidden {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}

.txt-comm {
    display: block;
}

.box-img {
    display: block;
}


/* layout */
// 아이디 클래스로 바꾸기
.skip-nav {
    position: relative;
    width: 100%;

    a {
        position: absolute;
        top: -31px;
        left: 0;
        z-index: 9999;
        height: 30px;
        padding: 0 20px 0 26px;
        background-color: #000;
        font-size: 12px;
        line-height: 30px;
        color: #fff;
        text-align: center;

        &:focus {
            overflow: hidden;
            top: 0;
        }
    }
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 90px;
    background-color: #fff;
    text-align: right;
}

#main {
    padding-top: 90px;
}

.container-prm {
    min-width: 320px;
}

/**/

.section-comm {
    max-width: 1920px;
    margin: 0 auto;

    .inner-section {
        max-width: 1440px;
        margin: 0 auto;
        @include vw-pc(padding-top, 120);
    }

    .section-tit {
        font-weight: bold;
        @include vw-pc(font-size, 56);
        line-height: 1.3;
    }
}

.section-kv {
    background-image: url("../images/bg/bg_kv_pc.gif");
    background-repeat: no-repeat;
    background-size: cover;
    @include vw-wide-pc(height, 750);

    .inner-section {
        max-width: 1920px;
        padding: 14.94792vw 0 0 15.10417vw;
    }

    .area-section-tit {
        font-weight: bold;
    }

    .section-tit {
        @include vw-wide-pc(font-size, 56);
    }

    .box-txt {
        display: block;
        @include vw-wide-pc(margin-top, 20);

        .txt-summary {
            display: block;
            font-weight: 400;
            @include vw-wide-pc(font-size, 20);
            line-height: 1.3;
        }

        .txt-date {
            display: block;
            @include vw-wide-pc(margin-top, 20);
            font-weight: bold;
            @include vw-wide-pc(font-size, 20);
            line-height: 1.4;
        }
    }
}

.section-buy {
    background-image: url("../images/bg/bg_buy.gif");

    .inner-section {
        padding: 8.33333vw 0 6.52778vw;
    }

    .area-section-tit {
        text-align: center;

        .section-tit {
            display: inline-block;
            position: relative;
            z-index: 1;
            line-height: 1.1;
            vertical-align: top;

            em {
                position: relative;
                font-weight: bold;

                &:before {
                    content: '';
                    position: absolute;
                    top: -60%;
                    right: -24%;
                    z-index: -1;
                    @include vw-pc(width, 268);
                    @include vw-pc(height, 132);
                    background: url(/images/bg/bg_buy_deco01.png) no-repeat;
                    background-size: cover;
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: -36%;
                left: -1%;
                @include vw-pc(width, 62);
                @include vw-pc(height, 56);
                background: url(/images/bg/bg_buy_deco05.png) no-repeat;
                background-size: cover;
            }
        }
    }

    .area-section-cont {
        display: flex;
        position: relative;
        @include vw-pc(padding-top, 70);
        flex-direction: row-reverse;
        justify-content: center;
    }

    .box-buy {
        @include vw-pc(width, 466);
        @include vw-pc(margin-left, 93);

        .box-cont-tit {
            .cont-tit {
                display: inline-block;
                position: relative;
                @include vw-pc(padding-right, 90);
                font-weight: bold;
                @include vw-pc(font-size, 44);
                line-height: 1.5;
                vertical-align: top;

                &:after {
                    content: '';
                    position: absolute;
                    top: -50%;
                    right: 0;
                    @include vw-pc(width, 81);
                    @include vw-pc(height, 89);
                    background: url(/images/bg/bg_buy_deco03.png) no-repeat;
                    background-size: cover;
                }
            }

            .txt-model {
                display: block;
                @include vw-pc(font-size, 16);
            }
        }

        .box-buy-option {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .box-item {
                position: relative;
                @include vw-pc(width, 225);
                @include vw-pc(height, 100);
                @include vw-pc(margin-top, 15);

                .inp-comm {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: .01;
                    cursor: pointer;

                    &:checked+.label-option {
                        border-color: #000;
                    }
                }

                .label-option {
                    display: flex;
                    height: 100%;
                    border: solid transparent;
                    @include vw-pc(border-width, 3);
                    @include vw-pc(border-radius, 10);
                    box-sizing: border-box;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;

                    .img-option {
                        float: left;
                        @include vw-pc(width, 118);
                        @include vw-pc(height, 67);
                    }

                    .txt-option {
                        @include vw-pc(margin-left, 8);
                        font-weight: bold;
                        @include vw-pc(font-size, 16);
                    }
                }
            }
        }

        .box-buy-price {
            display: block;
            position: relative;
            @include vw-pc(margin-top, 30);

            &:after {
                content: '';
                display: block;
                width: 100%;
                @include vw-pc(height, 1);
                @include vw-pc(margin-top, 20);
                background-color: #000;
            }

            .box-item {
                display: flex;
                align-items: baseline;

                .txt-price {
                    font-weight: bold;
                    @include vw-pc(font-size, 20);
                }

                em {
                    margin-left: auto;
                    font-weight: bold;
                    @include vw-pc(font-size, 28);
                }

                +.box-item {
                    @include vw-pc(margin-top, 16);
                }
            }

        }

        .link-buy {
            display: block;
            width: 100%;
            @include vw-pc(margin-top, 20);
            padding: 1.04167vw 0;
            @include vw-pc(border-radius, 30);
            background-color: #000;
            font-weight: bold;
            @include vw-pc(font-size, 22);
            text-align: center;
            color: #fff;
        }

        .box-buy-benefit {
            @include vw-pc(margin-top, 35);

            .benefit-tit {
                display: block;
                position: relative;
                @include vw-pc(font-size, 20);
                letter-spacing: -.025em;

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    @include vw-pc(width, 267);
                    height: 1px;
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }

            .list-benefit {
                @include vw-pc(margin-top, 35);
                @include clearfix;

                li {
                    float: left;
                    width: 25%;
                }

                .box-img {
                    @include vw-pc(width, 105);
                    @include vw-pc(height, 105);
                    margin: 0 auto;
                    @include vw-pc(border-radius, 10);
                }

                .img-benefit {
                    width: 100%;
                }

                .txt-benefit {
                    display: block;
                    @include vw-pc(margin-top, 10);
                    font-weight: bold;
                    @include vw-pc(font-size, 15);
                    text-align: center;
                    letter-spacing: -.025em;
                }

                .btn-benefit {
                    display: block;
                }
            }
        }
    }

    .box-buy-slide {
        @include vw-pc(width, 850);
        @include vw-pc(height, 850);

        .container-slide {
            position: relative;
            @include vw-pc(width, 740);
            @include vw-pc(height, 740);
            margin: 0 auto;
            @include vw-pc(padding-bottom, 32);
            background-image: url("../images/bg/bg_slide_pc.png");
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 100%;

            &:after {
                content: '';
                position: absolute;
                @include vw-pc(top, -54);
                @include vw-pc(left, -39);
                @include vw-pc(width, 155);
                @include vw-pc(height, 151);
                background: url(/images/bg/bg_buy_deco02.png) no-repeat;
                background-size: cover;
            }

            &:before {
                content: '';
                position: absolute;
                @include vw-pc(right, -61);
                @include vw-pc(bottom, -47);
                z-index: 1;
                @include vw-pc(width, 242);
                @include vw-pc(height, 222);
                background: url(/images/bg/bg_buy_deco04.png) no-repeat;
                background-size: cover;
            }
        }

        .inner-slide {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 100%;
            border: solid #fff;
            @include vw-pc(border-width, 20);
            background-color: #f5f2f7;
            box-sizing: border-box;
        }

        .list-page {
            display: flex;
            position: absolute;
            right: 0;
            @include vw-pc(bottom, 40);
            left: 0;
            z-index: 1;
            justify-content: center;

            li {
                display: block;
                @include vw-pc(margin-left, 2);

                &:first-child {
                    margin-left: 0;
                }
            }

            .btn-page {
                position: relative;
                @include vw-pc(width, 30);
                @include vw-pc(height, 30);
                border: 0;
                background-color: transparent;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include vw-pc(width, 12);
                    @include vw-pc(height, 12);
                    @include vw-pc(border-width, 1);
                    border: solid #000;
                    border-radius: 50%;
                    box-sizing: border-box;
                    transform: translate(50%, 50%);
                }
            }

            .btn-active {

                &:before {
                    background-color: #000;
                }
            }
        }

        .box-slide-track {
            height: 100%;
            transition: transform .3s ease;
            @include clearfix;

            .box-item {
                float: left;
                @include vw-pc(width, 700);
            }

            .img-slide {
                width: 100%;
            }
        }

        .btn-control {
            position: absolute;
            top: 50%;
            @include vw-pc(width, 42);
            @include vw-pc(height, 42);
            background-color: transparent;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                @include vw-pc(padding, 21);
                border: solid black;
                border-top-width: 0;
                @include vw-pc(border-right-width, 2);
                @include vw-pc(border-bottom-width, 2);
                border-left-width: 0;
            }
        }

        .btn-prev {
            @include vw-pc(left, -30);

            &:after {
                transform: rotate(135deg);
            }
        }

        .btn-next {
            @include vw-pc(right, -30);

            &:after {
                transform: rotate(-45deg);
            }
        }
    }
}

.section-benefit {
    @include vw-wide-pc(height, 1765);
    background-image: url("../images/bg/bg_benefit_pc.gif");
    background-repeat: no-repeat;
    background-size: cover;

    .area-section-tit {
        text-align: center;
    }

    .section-tit {
        @include vw-pc(font-size, 26);

        em {
            display: block;
            @include vw-pc(margin-top, 20);
            font-weight: bold;
            @include vw-pc(font-size, 56);
            line-height: 1.18;
            letter-spacing: -0.025em;
        }
    }

    .box-txt {
        .txt-date {
            display: block;
            @include vw-pc(margin-top, 20);
            font-weight: bold;
            @include vw-pc(font-size, 18);
            line-height: 3.6;
        }

        .txt-notice {
            display: block;
            @include vw-pc(font-size, 17);
            line-height: 1.6;
            letter-spacing: -0.025em;
        }
    }

    .area-section-cont {

        .box-cont-tit {
            .tit-cont {
                font-weight: bold;
                @include vw-pc(font-size, 34);
                line-height: 1.9;
                letter-spacing: -0.025em;
            }
        }
    }

    .list-benefit {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            display: flex;
            @include vw-pc(width, 710);
            padding: 5.55556vw 4.02778vw;

            border: solid #fff;
            @include vw-pc(border-width, 13);
            background-color: #fbf1be;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
        }

        .txt-benefit {
            display: block;
            @include vw-pc(margin-left, 45);
        }
    }
}

/* 768px 이하 */
@media screen and (max-width: 768px) {

    /* layout */
    #header {
        height: 44px;
    }

    #main {
        padding-top: 44px;
    }

    .section-comm {
        .section-tit {
            @include vw-mo(font-size, 68);
        }
    }

    .section-kv {
        @include vw-mo(height, 1180);
        background-image: url("../images/bg/bg_kv_mo.gif");

        .area-section-tit {
            padding: 23.88889vw 0 0;
            text-align: center;
        }

        .txt-info {
            @include vw-mo(margin-top, 20);
        }

        .info-summary {
            @include vw-mo(font-size, 30);
            @include vw-mo(line-height, 42);
        }

        .info-date {
            @include vw-mo(margin-top, 20);
            @include vw-mo(font-size, 30);
        }
    }

}